@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --primary-color: #4f46e5;
    --secondary-color: #7c3aed;
    --dark: #0f122a;
    --darker: #0a0f1c;
    --light: #e2e8f0;
    --glass: rgba(255, 255, 255, 0.05);
    /* --red-primaru: #b74b4b; o site era vermelho, mudei para azul, mas to pensando em voltar cm o vermelho*/
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth; /* o scroll-behavior é responsável por fazer a transição suave ao clicar em um link de navegação */
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--darker);
    color: var(--light);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
    background-color:rgba(15, 23, 42, 0.8);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* navegação */
.logo{
    position: relative;
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 800;
    margin: 0;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.logo:hover{
    transform: scale(1.05);
}

.menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.menu-link {
    position: relative;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    margin-right: 4rem;
    font-weight: 500;
}

.menu-link::after {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

/* seções gerais */
section{
    min-height: 100vh;
    margin: 3rem 9% 3rem;
}

h2 {
    background-image: linear-gradient(45deg, var(--primary-color), var(--secondary-color), var(--primary-color), var(--secondary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    margin-top: 5rem;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
}

/* seção home/hero */
.home{
    display: flex; 
    align-items: center;
    justify-content: center;  
    height: 100vh;
    gap: 5rem;
}

.home-img, .home-content {
    flex: 1; /* cada um ocupa  50% do espaço */
}

.perfil-img {
    width: 100%;      /* ocupa toda a largura do container */
    height: auto;     /* mantém a proporção */
    aspect-ratio: 1 / 1;  /* sempre quadrado */
    object-fit: cover; /* mantém o rosto certinho sem distorcer */
    max-width: 500px; /* opcional: limita pra não ficar gigante em telas grandes */
    display: block; /* remove espaço embaixo da imagem */
    margin: 0 auto;   /* centraliza */
    border-radius: 50%; /* deixa redonda */
    border: var(--primary-color) 0.1rem solid; /* add uma borda fina */
    cursor: pointer; /* muda o cursor ao passar por cima */
    transition: transform 0.5s ease; /* animação suave ao transformar */
}

/* efeito pulsando */
.perfil-img:hover {
    animation: pulseGlow 1.5s infinite alternate; /* animação de brilho pulsante */
    transform: scale(1.05); /* leve aumento de tamanho */
}

@keyframes pulseGlow {
    from {
        box-shadow: 
        0 0 10px var(--primary-color),
        0 0 20px var(--primary-color);
    }
    to {
        box-shadow: 
        0 0 20px var(--secondary-color),
        0 0 40px var(--secondary-color);
    }
}

.home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: var(--primary-color);
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-text {
    display: inline;
    font-size: 1.6rem;
    line-height: 1.6;
    color: hsl(0, 0%, 100%, 0.2);
    background-image: linear-gradient(90deg, var(--light), var(--light));
    background-size: 0 100%;
    background-clip: text;
    background-repeat: no-repeat;
    animation: home-text 5s linear forwards;
}

@keyframes home-text {
    to {
        background-size: 100% 100%;
    }
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid var(--primary-color);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: var(--primary-color);
}

.social-icons a:hover{
    color: var(--darker);
    transform: scale(1.3) translateY(-5px);
    background-color: var(--primary-color);
    box-shadow: 0  0 25px var(--primary-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--darker);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--primary-color);
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid var(--primary-color);
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: var(--primary-color);
    color: var(--darker);
    box-shadow: 0 0 25px var(--primary-color);
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Software Developer";
    color: var(--primary-color);
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 65%;
    border-left: 3px solid var(--darker);
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid var(--primary-color);
    }
}

@keyframes words{
    0%, 20%{
        content: "Full-Stack Developer";
    }
    21%, 40%{
        content: "Front-End Developer";
    }
    41%, 60%{
        content: "Web Designer";
    }
    61%, 80%{
        content: "Back-End Developer";
    }
    81%, 100%{
        content: "Software Developer";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

/* seção projetos */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem; 
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    align-items: stretch;
    /*margin-bottom: 5rem; */
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--darker);
    box-shadow: 2px 5px 10px rgba(79, 70, 220, 0.2);
    transition: all 0.3s ease;
}

.project-card:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 4px 10px 20px rgba(79, 70, 220, 0.2);
}

.project-img {
    display: block;
    height: 350px; /* 200px quando tiver 3 projetos*/
    width: 100%;
    object-fit: cover; /*fill quando tiver 3 projetos */
} 

.project-card h3 {
    margin-left: 1rem;
    font-size: 1.25rem;
}

.project-card p {
    margin-left: 1rem;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 300;
    flex: 1; 
}

.project-card .btn-project {
    display: flex;
    gap: 1rem;
    margin: 1rem 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card .btn-project a{
    font-size: 0.9rem;
    color: var(--primary-color);
    text-decoration: none;
    letter-spacing: 0.1rem;
}

.btn-project a:hover{
    transform: scale3d(1.03);
    background-color: var(--primary-color);
    color: var(--darker);
    box-shadow: 0 0 25px var(--primary-color);
}

/* sesssao scroll skills */
.skills-grid {
    display: flex;
    justify-content: center;
}

.skills-grid li {
    margin:0.7rem;
    padding: 1.2rem;
    background: var(--dark);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 1px 6px var(--primary-color);
    overflow: hidden;
}
.skills-grid i {
    font-size: 4rem;
}

.scroller {
    max-width: 80%;
    /* overflow: hidden; */
}

.scroller-inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
    );
}

.scroller[data-animated="true"] .scroller-inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="medium"] {
  --_animation-duration: 40s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-50%)); /* Ajuste esse valor, explicarei abaixo */
    }
}

/* seção sobre */
.about-text span {
  display: inline;  
  font-size: 2.2rem;
  max-width: 65ch;
  line-height: 1.3;
  margin-inline: auto;
  margin-bottom: 1.2rem;
  color: hsl(0, 0%, 100%, 0.2);
  background-image: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  background-size: 0 100%;
  background-clip: text;
  background-repeat: no-repeat;
  animation: about-text linear forwards;
  animation-timeline: view(); 
  animation-range-start: cover 30%;
  animation-range-end: cover 50%;
}

@keyframes about-text {
    to {
        background-size: 100% 100%;
    }
}

/* seção contato */
.contact {
    padding: 0 3rem 5rem;
}

.title-contact {
    margin-top: 0;
}

.form-contact {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--glass);
    backdrop-filter: bluer(5px);
    padding: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 16px;
}

.form-group {
    margin-bottom: 1.5rem; 
}

.form-text {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    color: var(--light);
    text-align: center;
}

.form-field {
    width: 100%;
    color: var(--light);
    padding: 1rem;
    background-color: var(--glass);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    outline: none;
}

.form-field:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 4px var(--primary-color);
}

.button-form {
    display: inline-block;
    width: 100%;
    color: var(--primary-color);
    padding: 1rem 2.8rem;
    background-color: linear-gradient(45deg, var(--primary-color), var(--secondary-color)); 
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 0.3rem;
    font-weight: 600;
    transition: all 0.5s ease;
    cursor: pointer;
}

.button-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.footer {
    text-align: center;
    padding: 2rem;
    background-color: var(--dark);
    border-top: 1px solid var(--primary-color);
}

.text-footer {
    color: #585d6a; 
    font-size: 1.4rem;
    margin: 0.5rem 0;
}

.strong-footer a {
    color: var(--primary-color);
    font-weight: 600;
}